body {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

#turno {
    font-size: 24px;
    margin-bottom: 20px;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 8px;
    margin: 0 auto;
    width: max-content;
}

.celda {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 10px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    transition: background 0.2s ease;
}

.celda:hover {
    background: #eaeaea;
}

#reiniciar {
    margin-top: 25px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background: #0078ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

#reiniciar:hover {
    background: #005fcc;
}